<!-- your html code here -->
<div class="w-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <!-- Navbar content -->
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-linkBootstrap" href="#">Start Bootstrap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Portfolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
  