<div class="container col-md-9"   
   <div class="container">
        <div class="row">
            <div class="col-md-4"><img src="/website/assets/img/2.jpg" class="rounded-circle float-start" width="250px" height="250px"></div>
            <div class="col-md-8"><h2><strong>The Second Heading</strong><span class="text-muted"> Is Preety Cool Too.</span></h2>
                <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. ¡Fusce dapibus, tellus ac cursus
                    commodo.</p>
            </div>
        </div>
    </div>
</div>